<!DOCTYPE html>
<title>Current Heat Map</title>
<link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body background="{{url_for('static', filename='bk/nn.png')}}">

<br><center><h1>Current Heat Map</h1>

<a href="{{ url_for('upload_file') }}">Upload More Images</a> / 
<a href="{{ url_for('manage_file') }}">View Heat Map</a>
<br>
<br>
<div>
<iframe id= "embed" src= "{{ url_for('get_map') }}" width="1000" height="500"></iframe>
</div>
</body>
</html>